.hide {
    display: none;
}
body {
    text-align: center;
    padding-top: 100px;
}
    

#highScoreContainer {
    max-width: 200px;
    margin:0 auto;
}
#initials {
    max-width: 200px;
    margin:0 auto 20px;
}